*{
    font-family: "Trip Sans VF", "Trip Sans" , Arial, Helvetica, sans-serif;

}
#review{
    width: 80%;
    margin: auto;
}
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: white;
    align-items: center;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

}
hr{
    width: 100%; 
}
.logo{
    display: flex;
}
#logoimg{
    width: 50px;
    border-radius: 50px;
    margin: 5%;
}
.logo > a{
    text-decoration: none;
    font-size: 18px;
    color: black;

}
.keys{
    display: inline-block;
    margin: 0 20px;
}
.keys>button{
    width: 70px;
    color: #FFFFFF;
    background-color: black;
    font-size: 16px;
    border-radius: 10px;
    
}
.keys>a{
    margin: 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.icons{
    width: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#review>h1{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 55px;
    padding: 4%;
}

#search{
    width: 78%;
    height: 45px;
    margin: 2%;
    padding-left: 5%;
    font-size: 17px;
    border-radius: 20px;
    border-color: rgb(241, 238, 238);
}
#Footer{
   background-color: #FAF1ED;
   height: 160px;
   margin-top: 2.5%;
   
}
#inner{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.query>a{
    font-weight: 20px;
    font-size: 18px;
    color: black;
}
.foot2{
    display: flex;
    justify-content: space-between;
}

.inr{
    display: flex;
    justify-content: space-between;
    
}
.inr>select{
    display: flex;
    margin: 5%;
    width: 180px;
    height: 30px;
    font-weight: bolder;
    border-radius: 10px;
    border-color: rgb(241, 238, 238);
}
